/* elements */
body{
  padding: 1em;
  margin:auto;
  width: 90%;
  font-size:large;
  background-image: url("Background.jpg");

}

ul{
  list-style:none;
}
li {
  padding: 0.5em;
}

h2{
  text-align:center;
  text-decoration: underline;
}
article{
  padding: 1em;
}

/* ids */
#head{
  text-align: center;
  font-size:xx-large;
  padding: 0.5em;

}
#char li{
  display: inline;
  padding-right: 0px;
  padding-left: 0px;

}
#game{
  width: 60%;
  float: left;
}
#sit{
  font-size:xx-large;
  width: 90%;
  margin: auto;
}

#choices li:hover {
  color: grey;
  background-color: back;
}

#aside{
  width:35%;
  float: left;
  
}
#about p{
  text-align: center;
}
#about{ 
  clear: both;}
#foot{
  clear: both;
  font-size: small;
  text-align: center;
}

#main{
  background-color: white;
}
/* classes */
.cit{
  font-style:italic;
  font-size: xx-small;
}

.grader {
  font-size: xx-large;
  background-color: black;
  color: white;
  text-decoration:none;

}
.grader a{
  font-size: xx-large;
  color: white;
  
}
