ul{
  list-style:none;
}
li {
  padding: 0.5em;
}

article{
  padding: 1em;
}

#main{
  
}
#head{
  
}

#game{
  width: 60%;
  float: left;
}
#sit{
  font-size:xx-large;
  width: 90%;
  margin: auto;
}

#choices li:hover {
  color: grey;
  background-color: back;
}

#aside{
  width:35%;
  float: left;
  
}

#char{
  
}

#stats{
  
}

#foot{
  clear: both;
  text-align: center;
}
